body {
  background: #223;
}

.contenedor {
  background: grey;
  /* min-height: 600px; */
  /* padding: 20px;    */
  display: grid;
  grid-template-columns: [col-start] 1fr [mid-start] 1fr [mid-end] 1fr [col-end];
  grid-template-rows: [row-start] 1fr [row-mid-start] 1fr [row-mid-end] 1fr [row-end];
  min-height: 600px;
  border: 5px solid black;
}

.header {
  background: indigo;
  grid-column: col-start / col-end;  
  /* grid-row: row-start / row-mid-start; */

}

.sidebar {
  background: black;
   /* grid-column: col-start / mid-start; */
  grid-row: row-mid-start / row-mid-end; 
 

}

.content {
  background: orangered;
   grid-column: mid-start / col-end; 
   grid-row: row-mid-start / row-mid-end; 
}

 .footer {
  background: royalblue;
  grid-column: col-start / col-end;
  grid-row: row-mid-end / row-end;
} 